/* public/styles/style.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.home-btn {
    font-size: 1.5em;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-icon {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    margin-right: 10px;
}

#search {
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.dropdown-left {
    display: flex;
    align-items: left;
}

.dropdown {
    align-self: center;
    margin: auto 0;
}

.dropdown-btn {
    background-color:rgb(61, 77, 255);
    min-width: 40px;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipses;
    color: white;
    padding: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.dropdown-content {
    display: none; /*hide by default*/
    position: absolute; 
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index:1;
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#frontpagetitle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
}

#frontpagelisttutors {
    height: 50vh;
    margin-left: 2%;
    margin-right: 2%;
}

#add-tutor-form-container {
    display:flex;
    flex-wrap: wrap;
    gap: 5px;
}

#add-tutor-form-container form {
    flex: 1 1 30%;
    box-sizing: border-box;
    max-width: 40%;
}

#add-tutor-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input, select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

input {
    margin: auto;
    max-width: 90%;
}

label {
    padding: 1px;
}

#tutor-overlay, #course-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    display: none;
    z-index: 1000;
    overflow: auto;
    padding-top: 60px; /* avoid covering nav bar? */
}

#tutor-overlay-content, #course-overlay-content {
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#close-overlay-btn {
    float: right;
    font-size: 24px;
    cursor: pointer;
    padding: 5px;
}

#tutors-container, #courses-container {
    cursor: pointer;
}